<html>
	<head>
		<title>First Attempt</title> 
	<body>
		<p>Hello world!</p>
		<p>Wrooom-wroooom mutherfucker!</p>
	
		<div>
			<h1><a href=""><strong>K primery zametka1<strong></a><h1>
			<p><ul><li>Zdes' 4to-to napisano</li></ul><p>
			<p><ul><li>Zdes' 4to-to es4e napisano</li></ul><p>
			<p><ul><li>I es4e. <em>Xvatit</em></li></ul><p>
		</div>	
		<div>
			<p>napisano potomy 4to nado zapolnit' <br />stranicy</p>
			<h2><a href="">zametka 2</a></h2>
			<p>Yesterday all my trouble seems so far away<br />ta-da-dada-dadada-da-da</p>
		</div>
	</body>
</html>
